{% extends 'projects/home.html' %}

{% block title %}Earthworks QC - {{ object.name }} {% endblock title %}

{% block project_title %}{{ object.name }}{% endblock project_title %}

{% block breadcrumbs %}
    <a href="{% url 'project-detail' object.project %}">
    {{ object.name }} ({{ object.number }})
    </a>
{% endblock breadcrumbs %}

{% block content %}

<div class="row">
        <div class="col-md-8">
                <div class="card card-plain">
                    <div class="header">
                        <h4 class="title">Instruments:</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover">
                            <thead>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                            </thead>
                            <tbody>
                                {% for instrument in object.get_instruments %}
                                    <tr>
                                        <td>{{ instrument.name }}</td>
                                        <td>{{ instrument.get_data_type_display }}</td>
                                        <td>{{ instrument.location.x }}</td>
                                        <td>{{ instrument.location.y }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td>No instrumentation data</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
        </div>
</div>
{% endblock content %}