{% extends 'projects/home.html' %}

    {% block title %}Earthworks QC - {{ object.name }} {% endblock title %}

    {% block project_title %}{{ object.name }}{% endblock project_title %}

    {% block breadcrumbs %}
    <a href="{% url 'project-detail' object.project %}">
    {{ object.name }} ({{ object.number }})
    </a>
    {% endblock breadcrumbs %}

    {% block css %}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
        integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
        crossorigin=""/>
    {% endblock css %}

    {% block js %}    
        <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
        integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
        crossorigin=""></script>
    {% endblock js %}

    {% block content %}
        <div class="row">
            <div class="col-md-4">
                <div class="card card-plain">
                    <div class="header">
                        <h4 class="title">Project Overview</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover">
                            <tbody>

                                    <tr>
                                        <td>Project name:</td>
                                        <td>{{ object.name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Project number:</td>
                                        <td>{{ object.number }}</td>
                                    </tr>
                                    <tr>
                                        <td>Client:</td>
                                        <td>{{ object.client }}</td>
                                    </tr>
                                    <tr>
                                        <td>Location:</td>
                                        <td>{{ object.location }}</td>
                                    </tr>
                                    <tr>
                                        <td>Project manager:</td>
                                        <td>{{ object.pm }}</td>
                                    </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="card card-plain">
                        <div class="header">
                            <h4 class="title">Project Data</h4>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover">
                                <tbody>

                                        <tr>
                                            
                                            <td><a href="{% url 'testhole-list' project=object.project %}">Testholes:</a></td>
                                            <td>{{ object.get_testholes.count }}</td>
                                        </tr>

                                        <tr>
                                            <td><a href="{% url 'instrument-list' project=object.project %}">Instruments:</a></td>
                                            <td>{{ object.get_instruments.count }}</td>
                                        </tr>
                                        <tr>
                                            <td>Samples:</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Lab tests:</td>
                                            <td></td>
                                        </tr>

                                </tbody>
                            </table>
    
                        </div>
                    </div>
            </div>

            <div class="col-md-6">
                <div class="card card-plain">
                    <div class="header" style="padding-bottom:1rem">
                        <h4 class="title">Map</h4>
                    </div>
                    <div id="map" style="width: 100%; height: 50rem"></div>
                    <script>
                    
                        var map = L.map('map').setView([48.45, -123.434], 11);
                        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                            maxZoom: 18, attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                    
                        }).addTo(map);
                    
                        {% for obj in object.datapoints.all %}
                        marker = new L.marker([{{ obj.location.y }},{{ obj.location.x }}])
                                    .bindPopup("{{ obj.project }}<br>{{ obj.name }} ({{ obj.get_data_type_display }})")
                                    .addTo(map);
                                    
                        {% endfor %}
                        
                    </script>
                </div>
            </div>
        </div>
    </div>
        


    {% endblock content %}