{% extends 'projects/home.html' %}

{% block title %}Earthworks QC - Project List{% endblock title %}

{% block content %}

<div class="row">
        <div class="col-md-8">
            <div class="card card-plain">
                <div class="header">
                    <h4 class="title">Project List</h4>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover">
                        <thead>
                            <td>Project number</td>
                            <td>Project name</td>
                            <td>Client</td>
                            <td>Location</td>
                        </thead>
                        <tbody>
                                {% for object in object_list %}
                                <tr>
                                    <td><a href="{% url 'project-detail' object.id %}">{{ object.number }}</a></td>
                                    <td><a href="{% url 'project-detail' object.id %}">{{ object.name }}</a></td>
                                    <td>{{ object.client }}</td>
                                    <td>{{ object.location }}</td>
                                </tr>
                                {% empty %}
                                    <tr><td>No projects yet</td></tr>
                                {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>


{% endblock content %}