{% extends 'projects/home.html' %}

{% block title %}Earthworks QC - {{ object.name }} {% endblock title %}

{% block project_title %}{{ object.name }}{% endblock project_title %}

{% block breadcrumbs %}
<a href="{% url 'project-detail' object.project %}">
{{ object.name }} ({{ object.number }})</a>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-md-4">

        <a href="{% url 'testhole-list' project=object.project %}">Back to test hole list</a>


        <div class="card card-plain">
            <div class="header">
                <h4 class="title">{{ testhole.name }}</h4>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover">
                    <thead>
                        <td>Depth from (m)</td>
                        <td>Depth to (m)</td>
                        <td>USCS Classification</td>
                    </thead>
                    <tbody>
                        {% for layer in testhole.soil_layers.all %}
                            <tr>
                                <td>{{ layer.depth_from|floatformat:1 }}</td>
                                <td>{{ layer.depth_to|floatformat:1 }}</td>
                                <td>{{ layer.get_uscs_display }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td>No soil units defined</td>
                                <td> </td>
                                <td> </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>
            
{% endblock content %}